<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>게시판</title>
		<link rel="stylesheet" href="/Users/choijungphil/javaStudy/workspace_front/mysite2/assets/css/mysite.css">
		<link rel="stylesheet" href="/Users/choijungphil/javaStudy/workspace_front/mysite2/assets/css/board.css">
	</head>
	
	<body>
		<div id="wrap">
			<div id="header" class="clearfix">
				<h1>Mysite</h1>
				<ul>
					<li><a href="" class="clearfix">로그인</a></li>
					<li><a href="" class="clearfix">회원가입</a></li>
				</ul>
			</div>
			<!-- //header -->
			<div id="nav" class="clearfix">
				<ul>
					<li><a href="index2.html" target="_self">입사지원서</a></li>
					<li><a href="list.html" target="_self">게시판</a></li>
					<li><a href="index4.html" target="_self">갤러리</a></li>
					<li><a href="index5.html" target="_self">방명록</a></li>
				</ul>
			</div>
			<!-- //nav -->
			<div id="contents" class="clearfix">
				 <div id="aside">
				 	<h2>게시판</h2>
				 	<ul>
				 		<li>일반 게시판</li>
				 		<li>댓글 게시판</li>
				 		<li>첨부 게시판</li>
			 		</ul>
				 
				 
				 </div>
				 <!-- //aside -->
				 <div id="main-contents">
				 	<div id="main-contents-header">
				 	<h3>일반게시판</h3>
				 	<ol>
				 		<li>홈</li>
				 		<li>게시판</li>
				 		<li>일반게시판</li>
				 	</ol>
				 	</div>
			<!-- //main-contents-header -->
				 </div>
			<!-- //main-contents -->
			</div>
			<!-- //contents -->
			
			<div id="footer">
				<div>
					Copyright ⓒ 2022 최정필 All rights reserved.
				</div>
			</div>
			<!-- //footer -->
		</div>
		<!-- //wrap -->
	</body>
</html>