<!DOCTYPE html>
<html>

	<head>
	    <meta charset="UTF-8">
	    <title>회원가입</title>
	    <link rel="stylesheet" href="/Users/choijungphil/javaStudy/workspace_front/mysite/assets/css/mysite.css">
	    <link rel="stylesheet" href="/Users/choijungphil/javaStudy/workspace_front/mysite/assets/css/signup.css">
	</head>
	
	<body>
	    <div id="wrap">
	        <div id="header" class="clearfix">
	            <h1><a href="" target="_self">Mysite</a></h1>
	            <ul>
	                <li><a href="" class="clearfix">로그인</a></li>
	                <li><a href="" class="clearfix">회원가입</a></li>
	            </ul>
	        </div>
	        <!-- //header -->
	        <div id="nav" class="clearfix">
	            <ul>
	                <li><a href="index2.html" target="_self">입사지원서</a></li>
	                <li><a href="list.html" target="_self">게시판</a></li>
	                <li><a href="index4.html" target="_self">갤러리</a></li>
	                <li><a href="index5.html" target="_self">방명록</a></li>
	            </ul>
	        </div>
	        <!-- //nav -->
	        <div id="contents" class="clearfix">
	            <div id="aside">
	                <h2>게시판</h2>
	                <ul>
	                    <li>일반 게시판</li>
	                    <li>댓글 게시판</li>
	                    <li>첨부 게시판</li>
	                </ul>
	            </div>
	            <!-- //aside -->
	            <div id="main-content">
	                <div id="main-content-header">
	                    <h3>일반게시판</h3>
					 	<ol >
					 		<li class="txt-li">홈</li>
					 		<li class="txt-li">게시판</li>
					 		<li>일반게시판</li>
					 	</ol> 
					 	
	                </div>
	                <!-- //main-content-header -->
	
	                <div id="main-content-body">
	                    <!-- 아이디 -->
	                    <div class="form-group">
	                        <label class="form-title" for="txt-id">아이디</label>
	                        <input id="txt-id" type="text" placeholder="아이디를 입력하세요">
	                    </div>
	                    <!-- 비밀번호 -->
	                    <div class="form-group">
	                        <label class="form-title" for="txt-password">패스워드</label>
	                        <input id="txt-password" type="password" placeholder="패스워드를 입력하세요">
	                    </div>
	                    <!-- 이름 -->
	                    <div class="form-group">
	                        <label class="form-title" for="txt-name">이름</label>
	                        <input id="txt-name" type="text" placeholder="이름을 입력하세요">
	                    </div>
	                    <!-- 첨부파일 -->
	                    <div class="form-group">
	                        <label class="form-title">프로필사진</label>
	                        <input type="file">
	                    </div>
	                    <!-- 주소 -->
	                    <!-- 우편번호 -->
	                    <div class="form-zip">
	                        <label class="form-title vt-btm" for="txt-zipcode">주소</label>
	                        <input id="txt-zipcode" type="text" placeholder="우편번호">
	                        <button class="btn" type="button">우편번호찾기</button>
	                    </div>
	                    <!-- 주소창 -->
	                    <div class="form-group">
	                        <label class="form-title" for="txt-address"></label>
	                        <input id="txt-address" type="text" placeholder="주소">
	                    </div>
	
	                    <!-- 이동통신사 -->
	                    <div class="form-group">
	                        <label class="form-title" for="sel-board">이동통신사</label>
	                        <select id="sel-board">
	                            <option>선택해주세요</option>
	                            <option>SKT</option>
	                            <option>LGU</option>
	                            <option>KTF</option>
	                        </select>
	                    </div>
	                    <!-- 나이 -->
	                    <div class="form-group">
	                        <span class="form-title">나이</span>
	                        <label>10대</label><input type="radio" name="permit">
	                        <label>20대</label><input type="radio" name="permit">
	                        <label>30대</label><input type="radio" name="permit">
	                        <label>40대</label><input type="radio" name="permit">
	                        <label>기타</label><input type="radio" name="permit">
	                    </div>
	
	                    <!-- 취미 -->
	                    <div class="form-group">
	                        <span class="form-title">취미</span>
	                        <label>독서</label><input type="checkbox" name="permit">
	                        <label>음악</label><input type="checkbox" name="permit">
	                        <label>여행</label><input type="checkbox" name="permit">
	                        <label>영화</label><input type="checkbox" name="permit">
	                        <label>코딩</label><input type="checkbox" name="permit">
	                        <label>기타</label><input type="checkbox" name="permit">
	                    </div>
	                    <!-- 자기소개 -->
	                    <div class="form-group dddd">
	                        <label class="form-title" for="txt-content">자기소개</label>
	                        <textarea id="txt-content"></textarea>
	                    </div>
	                </div>
	            </div>
	            <!-- //main-content-body -->
	            <div id="main-content-footer">
	                <button class="btn">등록</button>
	                <button class="btn">초기화</button>
	            </div>
	            <!-- //main-content -->
	        </div>
	        <!-- //contents -->
	
	        <div id="footer">
	            <div>
	                Copyright ⓒ 2020 황일영 All rights reserved.
	            </div>
	        </div>
	        <!-- //footer -->
	    </div>
	    <!-- //wrap -->
	</body>

</html>